<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
                http://www.springframework.org/schema/beans
                http://www.springframework.org/schema/beans/spring-beans-4.3.xsd">
    <bean id="client" class="com.niicta.spring.awesome.Client">
        <constructor-arg type="java.lang.String" value="1"/>
        <constructor-arg type="java.lang.String" value="J. Smith"/>
    </bean>

    <bean id="consoleEventLogger"
          class="com.niicta.spring.awesome.logger.impl.ConsoleEventLogger">
    </bean>

    <bean id="fileEventLogger"
          class="com.niicta.spring.awesome.logger.impl.FileEventLogger"
          init-method="init">
        <constructor-arg type="java.lang.String" value="log.txt"/>
    </bean>

    <bean id="cacheFileEventLogger"
          class="com.niicta.spring.awesome.logger.impl.CacheFileEventLogger"
          init-method="init"
          destroy-method="destroy">
        <constructor-arg type="java.lang.String" value="log.txt"/>
        <constructor-arg type="int" value="1"/>
    </bean>

    <bean id="app" class="com.niicta.spring.awesome.App">
        <constructor-arg ref="client"/>
        <constructor-arg ref="fileEventLogger"/>
    </bean>

    <bean id="event"
          class="com.niicta.spring.awesome.Event"
          scope="prototype">
        <constructor-arg>
            <bean class="java.util.Date"/>
        </constructor-arg>

        <constructor-arg>
            <bean class="java.text.DateFormat"
                  factory-method="getDateTimeInstance">
            </bean>
        </constructor-arg>
    </bean>
</beans>